{% extends 'layout/layout_admin.html' %}

{% block title %} CATEGORY-LIST {% endblock %}

{% block content %}
    <div id="app">

        <div v-if="categoryContent == 'index'">
            {% include 'admin/product/index_category.html' %}
        </div>

        <div v-if="categoryContent == 'addcategory'">
            {% include 'admin/product/add_category.html' %}
        </div>

        <div v-if="categoryContent == 'detailcategory'">
            {% include 'admin/product/detail_category.html' %}
        </div>

        <div v-if="categoryContent == 'editcategory'">
            {% include 'admin/product/edit_category.html' %}
        </div>

    </div>

    {#custom style for some input field#}
    <style>
        .error-field {
            border: 1px solid red;
            /* Other styles to highlight the error field */
        }
    </style>

    <script>
        var vue_obj = new Vue({
            el: '#app',
            delimiters: ["[[", ']]'],
            data: {
                //variables
                category_list: [],
                detail_list: [],
                currentPage: 1, // Current page number
                itemsPerPage: 6, // Number of items per page
                categoryContent: 'index', // set to 'index', for first page load
                name: '',
                desc: '',
                errors: {}
            },
            created() {
                //run first after refreshed
            },
            computed: {
                // for paginations
                paginatedItems() {
                    // if page 1, startindex=0, endindex = 0+6, so slice array(0, 6)
                    // if page 2, startindex=6, endindex = 6+6, so slice array(6, 12)
                    // if page 3, startindex=12, endindex = 12+6, so slice array(12, 18)....
                    const startIndex = (this.currentPage - 1) * this.itemsPerPage;
                    const endIndex = startIndex + this.itemsPerPage;
                    return this.category_list.slice(startIndex, endIndex);
                },
                totalItems() {
                    return this.category_list.length;
                },
                totalPages() {
                    return Math.ceil(this.totalItems / this.itemsPerPage);
                },
            },
            methods: {
                // fetch all category from api
                getCategory() {
                    // Axios API request to fetch data and assign to category_list
                    axios.get('http://127.0.0.1:5000/getAllCategory')
                        .then(response => {
                            this.category_list = response.data.cate;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                },
                // for paginations
                nextPage() {
                    if (this.currentPage < this.totalPages) {
                        this.currentPage++;
                    }
                },
                prevPage() {
                    if (this.currentPage > 1) {
                        this.currentPage--;
                    }
                },
                goToPage(pageNumber) {
                    if (pageNumber >= 1 && pageNumber <= this.totalPages) {
                        this.currentPage = pageNumber;
                    }
                },
                // navigate to add page and back for button
                goTo(page, id) {
                    if (page == 'index' && id === '') {
                        this.getCategory();
                        this.categoryContent = 'index';
                        this.resetForm();
                    }
                    if (page == 'addcategory' && id === '') {
                        this.categoryContent = 'addcategory';
                    }
                    if (page == 'detailcategory') {
                        // Filter the category_list to get details of the selected cate by id
                        this.detail_list = this.category_list.filter(cate => cate.id === id);
                        // Set the categoryContent to 'detailproduct' to display the details view
                        this.categoryContent = 'detailcategory';
                    }
                    if (page == 'editcategory') {
                        // Filter the category_list to get details of the selected cate by id
                        this.detail_list = this.category_list.filter(cate => cate.id === id);
                        // Set the categoryContent to 'editproduct' to display the details view
                        this.categoryContent = 'editcategory';
                    }
                },
                // reset for button
                resetForm() {
                    this.name = '';
                    this.desc = '';
                    this.errors = {};
                    this.detail_list = [];
                },
                // handle add and edit form submit
                submitForm(type, sid) {
                    this.errors = {}; // Reset errors
                    let isValid = true;

                    if (type === 'add') {
                        // validate name with pattern and length
                        if (!this.name) {
                            this.errors.name = 'Name is required';
                            isValid = false;
                        } else if (!/^[A-Za-z ]+$/.test(this.name)) {
                            this.errors.name = 'Only characters and spaces are allowed';
                            isValid = false;
                        } else if (this.name.length > 40) {
                            this.errors.name = 'Name should not exceed 40 characters';
                            isValid = false;
                        }

                        if (!this.desc) {
                            this.errors.desc = 'Description is required';
                            isValid = false;
                        } else if (this.desc.length > 250) {
                            this.errors.desc = 'Last Name should not exceed 250 characters';
                            isValid = false;
                        }

                        if (isValid) {
                            // Create a FormData object to send data
                            const formData = new FormData();
                            formData.append('name', this.name);
                            formData.append('desc', this.desc);

                            axios.post('http://127.0.0.1:5000/admin/category_added', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(response => {
                                    console.log('API Response:', response.data);
                                    this.goTo('index', '')
                                })
                                .catch(error => {
                                    console.error('API Error:', error);
                                });
                        }
                    } else if (type === 'edit') {
                        // validate name with pattern and length
                        if (!this.detail_list[0].name) {
                            this.errors.name = 'First Name is required';
                            isValid = false;
                        } else if (!/^[A-Za-z ]+$/.test(this.detail_list[0].name)) {
                            this.errors.name = 'Only characters and spaces are allowed';
                            isValid = false;
                        } else if (this.detail_list[0].name.length > 40) {
                            this.errors.name = 'First Name should not exceed 40 characters';
                            isValid = false;
                        }

                        if (!this.detail_list[0].desc) {
                            this.errors.desc = 'Last Name is required';
                            isValid = false;
                        } else if (this.detail_list[0].desc.length > 250) {
                            this.errors.desc = 'Last Name should not exceed 250 characters';
                            isValid = false;
                        }

                        if (isValid) {
                            // Create a FormData object to send data
                            const formData = new FormData();
                            formData.append('name', this.detail_list[0].name);
                            formData.append('desc', this.detail_list[0].desc);
                            formData.append('id', sid);

                            axios.post('http://127.0.0.1:5000/admin/category_edit', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(response => {
                                    console.log('API Response:', response.data);
                                    this.goTo('index', '')
                                })
                                .catch(error => {
                                    console.error('API Error:', error);
                                });
                        }
                    }
                },
                // delete category
                deleteForm(id) {
                    const formData = new FormData();
                    formData.append('id', id);

                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.post('http://127.0.0.1:5000/admin/category_delete', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(response => {
                                    console.log('Category deleted successfully:', response.data);
                                    this.goTo('index', '')
                                })
                                .catch(error => {
                                    console.error('Error deleting product:', error);
                                });
                        }
                    });
                },
            },
            mounted() {
                this.getCategory();
            }
        })
    </script>
{% endblock %}

