{% extends 'layout/layout_admin.html' %}

{% block title %} PRODUCT {% endblock %}

{% block content %}
    <div id="app">

        <div v-if="productContent == 'index'">
            {% include 'admin/product/index.html' %}
        </div>

        <div v-if="productContent == 'addproduct'">
            {% include 'admin/product/add_product.html' %}
        </div>

        <div v-if="productContent == 'detailproduct'">
            {% include 'admin/product/detailproduct.html' %}
        </div>

        <div v-if="productContent == 'editproduct'">
            {% include 'admin/product/edit_product.html' %}
        </div>

    </div>

    {#custom style for some input field#}
    <style>
        .error-field {
            border: 1px solid red;
            /* Other styles to highlight the error field */
        }
    </style>

    <script>
        var vue_obj = new Vue({
            el: '#app',
            delimiters: ["[[", ']]'],
            data: {
                //variables
                product_list: [],
                category_list: [],
                detail_list: [],
                currentPage: 1, // Current page number
                itemsPerPage: 6, // Number of items per page
                productContent: 'index', // set to 'index', for first page load
                name: '',
                category: '',
                desc: '',
                cost: '',
                image: '',
                errors: {}
            },
            created() {
                //run first after refreshed
            },
            computed: {
                // for paginations
                paginatedItems() {
                    // if page 1, startindex=0, endindex = 0+6, so slice array(0, 6)
                    // if page 2, startindex=6, endindex = 6+6, so slice array(6, 12)
                    // if page 3, startindex=12, endindex = 12+6, so slice array(12, 18)....
                    const startIndex = (this.currentPage - 1) * this.itemsPerPage;
                    const endIndex = startIndex + this.itemsPerPage;
                    return this.product_list.slice(startIndex, endIndex);
                },
                totalItems() {
                    return this.product_list.length;
                },
                totalPages() {
                    return Math.ceil(this.totalItems / this.itemsPerPage);
                },
            },
            methods: {
                // fetch all product and category from api
                getProducts() {
                    // Axios API request to fetch data and assign to product_list
                    axios.get('http://127.0.0.1:5000/getAllProduct')
                        .then(response => {
                            this.product_list = response.data.products;
                            this.category_list = response.data.categories;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                },
                // for paginations
                nextPage() {
                    if (this.currentPage < this.totalPages) {
                        this.currentPage++;
                    }
                },
                prevPage() {
                    if (this.currentPage > 1) {
                        this.currentPage--;
                    }
                },
                goToPage(pageNumber) {
                    if (pageNumber >= 1 && pageNumber <= this.totalPages) {
                        this.currentPage = pageNumber;
                    }
                },
                // display image with image string from database
                getImageSrc(imageName) {
                    // add ??timestamp=${Date.now()}` to avoid cache image display since we save new image same name
                    return `/static/img/product/${imageName.includes('.') ? imageName : imageName + '.jpg'}?timestamp=${Date.now()}`;
                },
                // big size image js
                scaleImage(event) {
                    event.target.style.transform = 'scale(1.05)';
                    event.target.style.boxShadow = '0 20px 30px rgba(0, 0, 0, 0.2)';
                },
                resetImage(event) {
                    event.target.style.transform = 'scale(1)';
                    event.target.style.boxShadow = '0 10px 15px rgba(0, 0, 0, 0.1)';
                },
                // navigate to add page and back for button
                goTo(page, id) {
                    if (page == 'index') {
                        this.getProducts();
                        this.productContent = 'index';
                        this.resetForm();
                    }
                    if (page == 'addproduct') {
                        this.productContent = 'addproduct';
                    }
                    if (page == 'detailproduct') {
                        // Filter the product_list to get details of the selected product by id
                        this.detail_list = this.product_list.filter(product => product.id === id);
                        // Set the productContent to 'detailproduct' to display the details view
                        this.productContent = 'detailproduct';
                    }
                    if (page == 'editproduct') {
                        // Filter the product_list to get details of the selected product by id
                        this.detail_list = this.product_list.filter(product => product.id === id);
                        // Set the productContent to 'editproduct' to display the details view
                        this.productContent = 'editproduct';
                    }
                },
                // reset for button
                resetForm() {
                    this.name = '';
                    this.category = '';
                    this.desc = '';
                    this.cost = '';
                    this.image = '';
                    this.errors = {};
                    this.detail_list = [];

                    // Reset file input (image)
                    const fileInput = document.querySelector('input[type="file"]');
                    fileInput.value = ''; // Reset the value of the input
                    if (fileInput.files && fileInput.files[0]) {
                        const reader = new FileReader();
                        reader.onload = function () {
                            fileInput.value = '';
                        };
                        reader.readAsDataURL(fileInput.files[0]);
                    }
                },
                handleFileChange(event) {
                    // Handle file change event when a file is selected
                    const selectedFile = event.target.files[0]; // Get the selected file
                    this.image = selectedFile;
                },
                // handle add and edit form submit
                submitForm(type, sid) {
                    this.errors = {}; // Reset errors
                    let isValid = true;

                    if (type === 'add') {
                        // validate name with pattern and length
                        if (!this.name) {
                            this.errors.name = 'Name is required';
                            isValid = false;
                        } else if (!/^[A-Za-z ]+$/.test(this.name)) {
                            this.errors.name = 'Only characters and spaces are allowed';
                            isValid = false;
                        } else if (this.name.length > 50) {
                            this.errors.name = 'First Name should not exceed 50 characters';
                            isValid = false;
                        }

                        if (!this.desc) {
                            this.errors.desc = 'Description is required';
                            isValid = false;
                        } else if (!/^[A-Za-z ]+$/.test(this.desc)) {
                            this.errors.desc = 'Only characters and spaces are allowed';
                            isValid = false;
                        } else if (this.desc.length > 250) {
                            this.errors.desc = 'Last Name should not exceed 250 characters';
                            isValid = false;
                        }

                        if (!this.category) {
                            this.errors.category = 'Please select category.';
                            isValid = false;
                        }

                        if (!this.cost) {
                            this.errors.cost = 'Cost is required';
                            isValid = false;
                        } else if (!/^\d+(\.\d{1,2})?$/.test(this.cost)) {
                            this.errors.cost = 'Only numbers or numbers with up to two decimal places are allowed';
                            isValid = false;
                        } else {
                            const costValue = parseFloat(this.cost);
                            if (costValue > 9999) {
                                this.errors.cost = 'Cost should not be greater than 9999';
                                isValid = false;
                            }
                        }

                        if (this.image) {
                            const allowedExtensions = ['jpg', 'jpeg', 'png', 'jfif'];
                            const fileExtension = this.image.name.split('.').pop().toLowerCase();

                            if (!allowedExtensions.includes(fileExtension)) {
                                this.errors.image = 'Invalid file type. Please upload an image (jpg, jpeg, png, jfif).';
                                isValid = false;
                            } else if (this.image.size / (1024 * 1024) > 2) {
                                this.errors.image = 'Invalid file size. Please upload an image less than 2MB.';
                                isValid = false;
                            }
                        }

                        if (isValid) {
                            // Create a FormData object to send both form data and the image file
                            const formData = new FormData();
                            formData.append('name', this.name);
                            formData.append('cost', this.cost);
                            formData.append('desc', this.desc);
                            formData.append('category', this.category);
                            formData.append('image_upload', this.image);

                            axios.post('http://127.0.0.1:5000/admin/product_added', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(response => {
                                    console.log('API Response:', response.data);
                                    this.goTo('index', '')
                                })
                                .catch(error => {
                                    console.error('API Error:', error);
                                });
                        }
                    } else if (type === 'edit') {
                        // validate name with pattern and length
                        if (!this.detail_list[0].name) {
                            this.errors.name = 'Name is required';
                            isValid = false;
                        } else if (!/^[A-Za-z ]+$/.test(this.detail_list[0].name)) {
                            this.errors.name = 'Only characters and spaces are allowed';
                            isValid = false;
                        } else if (this.detail_list[0].name.length > 50) {
                            this.errors.name = 'First Name should not exceed 50 characters';
                            isValid = false;
                        }

                        if (!this.detail_list[0].desc) {
                            this.errors.desc = 'Description is required';
                            isValid = false;
                        } else if (!/^[A-Za-z ]+$/.test(this.detail_list[0].desc)) {
                            this.errors.desc = 'Only characters and spaces are allowed';
                            isValid = false;
                        } else if (this.detail_list[0].desc.length > 250) {
                            this.errors.desc = 'Last Name should not exceed 250 characters';
                            isValid = false;
                        }

                        /** if (!this.detail_list[0].category) {
                            this.errors.category = 'Please select category.';
                            isValid = false;
                        } **/

                        if (!this.detail_list[0].cost) {
                            this.errors.cost = 'Cost is required';
                            isValid = false;
                        } else if (!/^\d+(\.\d{1,2})?$/.test(this.detail_list[0].cost)) {
                            this.errors.cost = 'Only numbers or numbers with up to two decimal places are allowed';
                            isValid = false;
                        } else {
                            const costValue = parseFloat(this.detail_list[0].cost);
                            if (costValue > 9999) {
                                this.errors.cost = 'Cost should not be greater than 9999';
                                isValid = false;
                            }
                        }

                        if (this.image) {
                            const allowedExtensions = ['jpg', 'jpeg', 'png', 'jfif'];
                            const fileExtension = this.image.name.split('.').pop().toLowerCase();

                            if (!allowedExtensions.includes(fileExtension)) {
                                this.errors.image = 'Invalid file type. Please upload an image (jpg, jpeg, png, jfif).';
                                isValid = false;
                            } else if (this.image.size / (1024 * 1024) > 2) {
                                this.errors.image = 'Invalid file size. Please upload an image less than 2MB.';
                                isValid = false;
                            }
                        }

                        const category = document.querySelector('select').value;

                        if (isValid) {
                            // Create a FormData object to send both form data and the image file
                            const formData = new FormData();
                            formData.append('name', this.detail_list[0].name);
                            formData.append('cost', this.detail_list[0].cost);
                            formData.append('desc', this.detail_list[0].desc);
                            formData.append('category', category);
                            formData.append('id', sid);
                            if (this.image) {
                                formData.append('image_upload', this.image);
                            }

                            axios.post('http://127.0.0.1:5000/admin/product_edit', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(response => {
                                    console.log('API Response:', response.data);
                                    this.goTo('index', '')
                                })
                                .catch(error => {
                                    console.error('API Error:', error);
                                });
                        }
                    }
                },
                getCategoryId(categoryName) {
                    const matchedCategory = this.category_list.find(category => category.name === categoryName);
                    return matchedCategory ? matchedCategory.id : null;
                },
                // delete product
                deleteForm(id, image) {
                    const pid = id;
                    const pimage = image;

                    const formData = new FormData();
                    formData.append('id', pid);
                    formData.append('image', pimage);

                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.post('http://127.0.0.1:5000/admin/product_delete', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })
                                .then(response => {
                                    console.log('Product deleted successfully:', response.data);
                                    this.productContent = 'index';
                                })
                                .catch(error => {
                                    console.error('Error deleting product:', error);
                                });
                        }
                    });
                },
            },
            mounted() {
                this.getProducts();
            }
        })
    </script>
{% endblock %}

